body{
    --background-color1: #ffc8a1;
    --background-color2: #f8d5ba;
    --background-color: linear-gradient(90deg, var(--background-color1), var(--background-color2));
    --text-color: grey;
    --nav-text-color: rgb(68, 68, 68);
    --nav-background-color: rgba(255, 255, 255, 0.2);
    --footer-background-color: rgba(0, 0, 0, 0.3);
    --binary-image-height: 600px;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background: var(--background-color);
    margin: 0;
    padding: 60px 20px;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--nav-background-color);
    padding: 20px;
    margin-bottom: 20px;
    color: var(--text-color);
    button {
        color: var(--text-color)!important;
    }
}

#nav-button {
    background-color: transparent;
    color: var(--nav-text-color);
    border: none;
    padding: 10px 15px;
    margin: 0px 5px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 300ms;
}

#nav-button:hover {
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: 300ms;
}

.hero-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 180px 0px;
}

.hero-container::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.3;
    background-image: url("binary.png");
    background-size: var(--binary-image-height) var(--binary-image-height);
    background-repeat: repeat;
    animation: scrollBackground 40s linear  infinite;
    z-index: -1;
}

@keyframes scrollBackground {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: var(--binary-image-height);
    }
}

.hero-text {
    max-width: 600px;
    font-size: 18px;
    line-height: 1.6;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.hero-button {
    width: 170px;
    height: 35px;
    background: linear-gradient(45deg, hsl(23, 100%, 61%), #ffd0ad);
    box-shadow: 0px 1px 1px #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

.hero-button:hover {
    background: linear-gradient(45deg, #ffb27c, #ffd8bb);
    box-shadow: 0px 1px 2px #000;
}

.github-image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

footer {
    position: absolute;
    text-align: center;
    color: white;
    margin-left: -20px;
    min-height: 200px;
    padding: 20px;
    background-color: var(--footer-background-color);
    width: 100%;
    transform: translateY(100%);
}

.social-icon {
    width: 50px;
    height: 50px;
    margin: 0px 0px;
    border-radius: 100%;
}

.social-icon:hover {
    background-color: white;
    transform: rotate(360deg) scale(1.1);
    transition: 400ms;
}